body {
    background-image: url("https://res.cloudinary.com/de3pvycqi/image/upload/v1695040768/y0CeSA8-dark-side-of-the-moon-wallpaper_qi0hjt.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-homepage {
    margin-block-start: 10px;
    text-align: center;
}

.contact {
    text-align: center;
    margin-top: 10px;
}

.fa-bitcoin {
    color: #d6e316
}

.welcome {
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    background: linear-gradient(to right, #0000FF, #FFFF00, #8B00FF, #FF0000, #FF7F00, #00FF00, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}